.product-details-container {
  width: 100%;
  display: block;
  .steper-section {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
    .MuiStepper-vertical {
      .MuiStep-vertical {
        width: 100%;
        display: block;
        text-align: center;
        .MuiStepLabel-vertical {
          display: inline-block;
          padding: 5px 0;
          .MuiStepLabel-iconContainer {
            display: flex;
            padding-right: 0;
            align-items: center;
            justify-content: center;
            .MuiStepIcon-root {
              display: block;
              width: 50px;
              height: 50px;
              color: #efefef;
              &.Mui-active {
                color: #7f56d9;
                background-image: url("../../../img/finish-product/desc-light-icon.png");
                background-repeat: no-repeat;
              }
              &.Mui-completed {
                color: #53ca43;
              }
              .MuiStepIcon-text {
                display: block;
                font-size: 10px;
              }
            }
          }
          .MuiStepLabel-labelContainer {
            display: block;
            width: 100%;
            text-align: center;
            .MuiStepLabel-label {
              font-size: 14px;
              line-height: 18px;
              font-weight: 500;
              color: #7a7a7a;
              &.Mui-active {
                color: #7f56d9;
              }
              &.Mui-completed {
                color: #53ca43;
              }
            }
          }
        }
      }
      .css-1pe7n21-MuiStepConnector-root {
        margin: 0 auto;

        .MuiStepConnector-line {
          border-color: #d9d9d9;
          border-left-style: solid;
          border-left-width: 3px;
          min-height: 55px;
          border-radius: 10px;
        }
        &.Mui-completed {
          .MuiStepConnector-line {
            border-color: #53ca43;
          }
        }
      }
    }
  }
  .steper-container {
    margin-bottom: 25px;
    .successfully-section{
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      text-align: center;
      height: 500px;
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
      h3{
        color: #27AE60;
        margin: 15px 0;
      }
      strong{
        color: #676767;
       
      }
      p{
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #676767;
        margin-top: 8px;
      }

    }
   
    .description-content {
      width: 100%;
      display: block;
      min-height: 470px;
      h3 {
        font-size: 20px;
        color: #1c1c1c;
        margin: 0 0 15px 0;
      }
      .product-details-section {
        background: #ffffff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
        .details-head {
          width: 100%;
          margin-bottom: 15px;
          .title {
            display: block;
            font-size: 18px;
            line-height: 24px;
            font-weight: 500;
            color: #7f56d9;
          }
          .description {
            display: block;
            font-size: 12px;
            line-height: 16px;
            font-weight: 400;
            color: #505050;
            margin-top: 5px;
        }
        }
        .purchased-order-table {
          width: 100%;
          display: block;
          table {
            thead {
              tr {
                th {
                  .Mui-checked {
                    color: #384cff !important;
                  }
                  color: #667085;
                  font-size: 14px;
                  font-weight: 500;
                }
              }
            }
            tbody {
              tr {
                td {
                  font-size: 14px;
                  font-weight: 400;
                  color: #667085;
                  .Mui-checked {
                    color: #384cff !important;
                  }
                  .pdf-icon {
                    background: #f4ebff;
                    margin-right: 10px;
                    .MuiSvgIcon-root{
                      color: #384cff;
                    }
                  }
                  .check-icon{
                    color: #53CA43;
                  }
                  .upload-icon{
                    color: #7F56D9;
                  }
                  .file-name {
                    font-size: 16px;
                    font-weight: 500;
                    color: #475467;
                    display: inline-block;
                    vertical-align: middle;
                    p {
                      margin: 0;
                      font-size: 13px;
                      font-weight: 400;
                      color: #667085;
                    }
                  }
                }
              }
            }
          }
        }
        form{
          .prepared-content {
            width: 100%;
            margin-bottom: 20px;
            margin-top: 20px;
            &:first-child {
              margin-top: 0;
            }
            label {
              display: inline-block;
              font-size: 14px;
              line-height: 20px;
              font-weight: 400;
              color: #344054;
              margin-right: 10px;
              &.customer {
                min-width: 90px;
              }
            }
            .form-control {
              font-size: 12px;
              text-transform: capitalize;
              font-weight: 400;
              color: #7f56d9;
            }
            ::placeholder {
              color: #7f56d9;
              opacity: 1; /* Firefox */
            }
            
            ::-ms-input-placeholder { /* Edge 12-18 */
              color: #7f56d9;
            }
          }
        }
       
      }
    }
  }
}
