.purchased-order-container {
  display: block;
  width: 100%;
  .attached-documents-section {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
    h4 {
      margin: 0;
      color: #7f56d9;
    }
    .purchased-order-table {
      width: 100%;
      display: block;
      table {
        thead {
          tr {
            th {
              .Mui-checked {
                color: #384cff !important;
              }
              color: #667085;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
        tbody {
          tr {
            td {
              font-size: 14px;
              font-weight: 400;
              color: #667085;
              .Mui-checked {
                color: #384cff !important;
              }
              .pdf-icon {
                background: #f4ebff;
                margin-right: 10px;
              }
              .file-name {
                font-size: 16px;
                font-weight: 500;
                color: #475467;
                display: inline-block;
                vertical-align: middle;
                p {
                  margin: 0;
                  font-size: 13px;
                  font-weight: 400;
                  color: #667085;
                }
              }
            }
          }
        }
      }
    }
  }
}
