.viewFpsDetails-container {
  .details-section {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
    .product-details {
      width: 100%;
      margin-bottom: 20px;
      margin-top: 20px;
      &:first-child {
        margin-top: 0;
      }
      .details-head {
        width: 100%;
        margin-bottom: 15px;
        .title {
          display: block;
          font-size: 18px;
          line-height: 24px;
          font-weight: 500;
          color: #7f56d9;
        }
        .description {
          display: block;
          font-size: 12px;
          line-height: 16px;
          font-weight: 400;
          color: #505050;
          margin-top: 5px;
        }
      }

      .details-content {
        display: block;
        .title {
          display: block;
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;
          color: #000000;
          margin-bottom: 10px;
        }
        label {
          display: block;
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          color: #344054;
          margin-bottom: 5px;
        }
        span {
          display: block;
          font-size: 13px;
          line-height: 20px;
          font-weight: 500;
          color: #000000;
        }
      }
      .prepared-content {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
        &:first-child {
          margin-top: 0;
        }
        label {
          display: inline-block;
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          color: #344054;
          margin-right: 10px;
          &.customer {
            min-width: 90px;
          }
        }
        .form-control {
          font-size: 12px;
          text-transform: capitalize;
          font-weight: 400;
          color: #7f56d9;
        }
      }
      .approval-heading {
        display: block;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: #7f56d9;
        margin: 20px 0;
      }
    }
  }
}
